body{
    font-family: 'Niramit', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.nav-logo img{
    width:60px;
    height: 60px;
    border-radius:50%;
}
nav ul li{
    margin-left:30px !important;
}
nav ul li:last-child{
    margin-left: 200px !important;
}
/*==============Banner Section ===============*/
.item{ 
    text-align: center;
}
.item-1{
    background-image: linear-gradient(rgba(105, 15, 15, 0.39), rgba(0, 0, 0, 0.8)),url("../image/back4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item-2{
    background-image: linear-gradient(rgba(105, 15, 15, 0.69), rgba(0, 0, 0, 0.562)),url("../image/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item-3{
    background-image: linear-gradient(rgba(105, 300, 15, 0.39), rgba(0, 0, 0, 0.962)),url("../image/back3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item-container{
    gap:30px;
    height: 500px;
    width: 70%;
}
.item-container h1{
    font-size:50px;
    font-weight: bold;
    text-transform: capitalize;
}
.item-container p{
    font-size:18px;
}

/*===============Courses Section Style Here===================*/
.discover-section{
    padding:80px 0px;
}
.discover-container>h1{
    text-align: center;
    font-weight: bold;
    width: 61%;
    margin: auto;
    font-size: 50px;
    
}
.discover-container>p{
    text-align: center;
    color:#555;
    width: 62%;
    padding-bottom: 50px;
    padding-top:30px;
    margin:auto;
}
.card-text h1{
    font-size: 22px;
    padding-top: 20px;
    font-weight: 600;
    color:#555;
    padding-right:10px;
}
.card-text p{
    color:#555;
    padding-right:10px;
}
.card-text span{
    font-weight: bold;
    font-size:18px;
}
.view-all-btn{
    display: none !important;
}

/*=========Register - section ===============*/
.Modal-section{
    padding-bottom: 80px;
}
.regi-btn{
    background:#fff;
    padding:15px 20px;
    border:none;
    border-radius: 5px;
}

/* ============Question Section Style here ================*/
.question-section > .container > h1{
    padding:10px 0px;
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color:#555;
}
.question-section > .container > p{
    padding:10px 0px;
    width: 60%;
    margin: auto;
    text-align: center;
    color:#555;
    padding-bottom: 50px;
}
.question-box{
    padding:0px;
    width:60%;
    margin:auto;
}


.answer{
    display: none;
    transition: display 0.5s ease-in 0.5s;
}
.question-box:hover .answer{
    display: block;
}
.question-box i{
    transition: transform 0.5s;
}
.question-box:hover i{
    transform: rotate(180deg);
}
.footer-icon{
    padding-top:20px;
}
.footer-icon i{
    padding:10px;
    border-radius: 40%;
    background-color: white;
    color:#555;
    margin:0px 12px;
}

.company{
    padding: 50px 0px;
}