@media screen and (max-width: 576px) {
    nav ul li:last-child{
        margin-left: 0px !important;
    }

    /*========Slider-section===========*/
    .item-container{
        gap:20px;
        height: 400px;
        width: 80%;
    }
    .item-container h1{
        font-size:25px;
        font-weight: bold;
        text-transform: capitalize;

    }
    .item-container p{
        font-size:14px;
    }
    .carousel-control-prev{
        display: none !important;
    }
    .carousel-control-next{
        display: none !important;
    }

    /*=============Courses-section===============*/

    .discover-container>h1{
        width: 70%;
        font-size: 30px; 
    }
    .discover-container>p{ 
        width: 72%;
    }

    .crs-img{
        height: 100px !important;
    }

    .card-text h1{
        padding:0px 10px;
    }
    .card-text p{
        padding:0px 10px;
    }
    .view-all-btn{
        display:inline-block !important;
    }
    .see-more-btn{
        display: none !important;
    }
    .modal-card-container{
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width:1000px){
    nav ul li:last-child{
        margin-left: 0px !important;
    }
    .modal-card-container{
        text-align: center;
    }

    .item-container{
        gap:20px;
        height: 450px;
        width: 80%;
    }
    .item-container h1{
        font-size:35px;
        font-weight: bold;
        text-transform: capitalize;

    }
}